
/*
Additions
*/
.blob-num-addition {
  background-color: green!important;
}

.blob-code-addition {
  background-color: green!important;
}

.blob-code-addition span {
  background-color: green!important;
}


/*
 Deletions
*/
.blob-num-deletion {
  background-color: #206CFF!important;
}

.blob-code-deletion {
  background-color: #206CFF!important;
}
