
/* 
Additions 
*/
.blob-num-addition {
  background-color: green!important;
  border-color: green!important;
  color: white!important;
}

.blob-code-addition {
  background-color: LightGreen!important;
}

 /*  
 Deletions 

.blob-num-deletion {
  background-color: #206CFF!important;
  border-color: #206CFF!important;
  color: white!important;
}

.blob-code-deletion {
  background-color: #206CFF!important;
  color: white!important;
}
 */